<!DOCTYPE html>
<html ng-app="DelhiProject">
  <head>
    <title><%=typeof title == 'undefined' ? 'New Sails App' : title%></title>

    <!-- Viewport mobile tag for sensible mobile support -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">


    <!--
        Stylesheets and Preprocessors
        ==============================

        You can always bring in CSS files manually with `<link>` tags, or asynchronously
        using a solution like AMD (RequireJS).  Or, if you like, you can take advantage
        of Sails' conventional asset pipeline (boilerplate Gruntfile).

        By default, stylesheets from your `assets/styles` folder are included
        here automatically (between STYLES and STYLES END). Both CSS (.css) and LESS (.less)
        are supported. In production, your styles will be minified and concatenated into
        a single file.

        To customize any part of the built-in behavior, just edit `tasks/pipeline.js`.
        For example, here are a few things you could do:

            + Change the order of your CSS files
            + Import stylesheets from other directories
            + Use a different or additional preprocessor, like SASS, SCSS or Stylus
    -->

    <!--STYLES-->
    <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="/bower_components/ng-dialog/css/ngDialog-theme-default.min.css">
    <link rel="stylesheet" href="/bower_components/ng-dialog/css/ngDialog-theme-plain.min.css">
    <link rel="stylesheet" href="/bower_components/ng-dialog/css/ngDialog.min.css">
    <link rel="stylesheet" href="/bower_components/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="/bower_components/font-awesome/css/font-awesome.css.map">
    <link rel="stylesheet" href="/bower_components/ngprogress/ngProgress.css">
    <link rel="stylesheet" href="/bower_components/angular-loading-bar/build/loading-bar.css">
    <link rel="stylesheet" href="/bower_components/angular-toastr/dist/angular-toastr.css">
    <link rel="stylesheet" href="/bower_components/jquery-timepicker-jt/jquery.timepicker.css">
    <link rel="stylesheet" href="/styles/ng-dialog_custom.css">
    <link rel="stylesheet" href="/styles/style.css">
    <!--STYLES END-->
  </head>

  <body>

  <div ng-view></div>



    <!--
        Client-side Templates
        ========================

        HTML templates are important prerequisites of modern, rich client applications.
        To work their magic, frameworks like Backbone, Angular, Ember, and Knockout require
        that you load these templates client-side.

        By default, your Gruntfile is configured to automatically load and precompile
        client-side JST templates in your `assets/templates` folder, then
        include them here automatically (between TEMPLATES and TEMPLATES END).

        To customize this behavior to fit your needs, just edit `tasks/pipeline.js`.
        For example, here are a few things you could do:

            + Import templates from other directories
            + Use a different template engine (handlebars, jade, dust, etc.)
            + Internationalize your client-side templates using a server-side
              stringfile before they're served.
    -->

    <!--TEMPLATES-->
    <script type="text/javascript" src="/jst.js"></script>
    <!--TEMPLATES END-->


    <!--

      Client-side Javascript
      ========================

      You can always bring in JS files manually with `script` tags, or asynchronously
      on the client using a solution like AMD (RequireJS).  Or, if you like, you can
      take advantage of Sails' conventional asset pipeline (boilerplate Gruntfile).

      By default, files in your `assets/js` folder are included here
      automatically (between SCRIPTS and SCRIPTS END).  Both JavaScript (.js) and
      CoffeeScript (.coffee) are supported. In production, your scripts will be minified
      and concatenated into a single file.

      To customize any part of the built-in behavior, just edit `tasks/pipeline.js`.
      For example, here are a few things you could do:

          + Change the order of your scripts
          + Import scripts from other directories
          + Use a different preprocessor, like TypeScript

    -->

    <!--SCRIPTS-->
    <script src="/bower_components/jquery/dist/jquery.min.js"></script>
    <script src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="/bower_components/angular/angular.js"></script>
    <script src="/bower_components/angular-route/angular-route.js"></script>
    <script src="/bower_components/angular-toastr/dist/angular-toastr.js"></script>
    <script src="/bower_components/angular-toastr/dist/angular-toastr.tpls.js"></script>
    <script src="/bower_components/angular-smart-table/dist/smart-table.min.js"></script>
    <script src="/bower_components/ng-dialog/js/ngDialog.min.js"></script>
    <script src="/bower_components/angular-cookies/angular-cookies.min.js"></script>
    <script src="/bower_components/ngprogress/build/ngprogress.min.js"></script>
    <script src="/bower_components/lodash/dist/lodash.js"></script>
    <script src="/bower_components/restangular/dist/restangular.js"></script>
    <script src="/bower_components/angular-route-styles/route-styles.js"></script>
    <script src="/bower_components/angular-loading-bar/build/loading-bar.js"></script>
    <script src="/bower_components/jquery-timepicker-jt/jquery.timepicker.js"></script>
    <script src="/bower_components/angular-jquery-timepicker/src/timepickerdirective.js"></script>
    <script src="/js/module.js"></script>
    <script src="/js/modules/core/module.js"></script>
    <script src="/js/modules/formA/module.js"></script>
    <script src="/js/modules/login/module.js"></script>
    <script src="/js/modules/main/module.js"></script>
    <script src="/js/modules/routes/module.js"></script>
    <script src="/js/modules/services/module.js"></script>
    <script src="/js/modules/core/config.js"></script>
    <script src="/js/modules/formA/controller.js"></script>
    <script src="/js/modules/login/controller.js"></script>
    <script src="/js/modules/main/AssignInspectorDialogController.js"></script>
    <script src="/js/modules/main/AssignInspectorDialogRangular.js"></script>
    <script src="/js/modules/main/AssignRangular.js"></script>
    <script src="/js/modules/main/AssignTableController.js"></script>
    <script src="/js/modules/main/FormaController.js"></script>
    <script src="/js/modules/main/FormaRangular.js"></script>
    <script src="/js/modules/main/LoginController.js"></script>
    <script src="/js/modules/main/LoginRangular.js"></script>
    <script src="/js/modules/routes/config.js"></script>
    <script src="/js/modules/services/api.js"></script>
    <script src="/js/modules/services/controller.js"></script>
    <script src="/js/modules/services/dataHolder.js"></script>
    <script src="/js/modules/services/verifyLoginService.js"></script>
    <!--SCRIPTS END-->
  </body>
</html>
