<!--Assign Table-->
<div class="col-md-12" ng-controller="AssignTableController as obj">
  <div class="panel panel-default ">
    <div class="panel-heading"><span class="fa fa-users text-primary"></span><span
      class="text-primary vcenter">Form Report Status</span>
    </div>
    <ul class="nav nav-tabs nav-default">
      <li ng-click="obj.TabClicked('pending')" ng-class="{ 'active': obj.tabname==='pending' }"><a href=""><span
        class="fa fa-globe text-primary"></span><span
        class="text-primary vcenter"> Pending</span></a></li>
      <li ng-click="obj.TabClicked('scheduled')" ng-class="{ 'active': obj.tabname==='scheduled' }"><a
        href=""><span
        class="fa fa-clone text-primary"></span><span
        class="text-primary vcenter"> Scheduled</span></a></li>
      <li ng-click="obj.TabClicked('completed')" ng-class="{ 'active': obj.tabname==='completed' }"><a
        href=""><span
        class="fa fa-repeat text-primary"></span><span
        class="text-primary vcenter"> Completed</span></a>
      </li>
      <li ng-click="obj.TabClicked('finished')" ng-class="{ 'active': obj.tabname==='finished' }"><a
        href=""><span
        class="fa fa-repeat text-primary"></span><span
        class="text-primary vcenter"> Completed</span></a>
      </li>
    </ul>
    <div class="panel-body">
      <div class="row">
        <div class="col-md-12">

          <table st-table="obj.tempObj" st-safe-src="obj.origObj"
                 class="row-border hover table table-">
            <thead>
            <tr>
              <th colspan="5"><input st-search="" class="form-control" placeholder="Global Search ..."
                                     type="text"/></th>
            </tr>
            <tr>
              <th></th>
              <th>Assign ID</th>
              <th>Form ID</th>
              <th>Inspector</th>
              <th>Schedule Date</th>
              <th>Completed On</th>
              <th>Inspector Report</th>
            </tr>
            </thead>
            <tbody>
            <tr
              ng-repeat="objdetails in obj.tempObj | filter: obj.objFilter track by objdetails.id">

              <td>
                <button ng-click="obj.recheckForm(objdetails.assocForm)" type="button"
                        ng-show="objdetails.status == 'completed'"
                        class="btn btn-sm btn-success">
                  <em class="fa fa-arrow-circle-right"></em>
                </button>
                <button ng-click="obj.confirmForm(objdetails)" type="button"
                        ng-show="objdetails.status == 'completed'"
                        class="btn btn-sm btn-danger">
                  <em class="fa fa-close"></em>
                </button>
                <button ng-click="obj.rejectForm(objdetails.assocForm)" type="button"
                        ng-show="objdetails.status == 'completed'"
                        class="btn btn-sm btn-danger">
                  <em class="fa fa-close"></em>
                </button>
              </td>
              <td>{{objdetails.id}}</td>
              <td>{{objdetails.assocForm}}</td>
              <td>{{objdetails.assocInspector.name}}</td>
              <td>{{objdetails.scheduledDate}}</td>
              <td>{{objdetails.completedOn}}</td>
              <td>{{objdetails.assocReport.id}}</td>
            </tr>
            </tbody>
            <tfoot>
            <tr>
              <td colspan="5" class="text-center">
                <div st-pagination="" st-items-by-page="10" st-displayed-pages="9999"></div>
              </td>
            </tr>
            </tfoot>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
