<div ng-controller="AssignInspectorDialogController as obj">
  <select class="btn btn-default col-xs-5" ng-model="inspectorId">
    <option value="" disabled>Select Inspector</option>
    <option ng-repeat="inspector in obj.inspectorList"
            value="{{inspector.id}}">
      {{inspector.name}}
    </option>
  </select>
  <button type="button" ng-click="obj.assignForm(inspectorId)"
          class="btn btn-sm btn-primary col-xs-offset-1">
    <em class="fa fa-tag "></em>
  </button>
</div>
