<!--Forms Table-->
<div class="col-md-12" ng-controller="FormaController as obj">
  <div class="panel panel-default ">
    <div class="panel-heading"><span class="fa fa-users text-primary"></span><span
      class="text-primary vcenter">Applicant Forms</span>
    </div>
    <ul class="nav nav-tabs nav-default">
      <li ng-click="obj.TabClicked('pending')" ng-class="{ 'active': obj.tabname==='pending' }"><a href=""><span
        class="fa fa-globe text-primary"></span><span
        class="text-primary vcenter"> Pending</span></a></li>
      <li ng-click="obj.TabClicked('assigned')" ng-class="{ 'active': obj.tabname==='assigned' }"><a
        href=""><span
        class="fa fa-clone text-primary"></span><span
        class="text-primary vcenter"> Assigned</span></a></li>
      <li ng-click="obj.TabClicked('recheck')" ng-class="{ 'active': obj.tabname==='recheck' }"><a
        href=""><span
        class="fa fa-repeat text-primary"></span><span
        class="text-primary vcenter"> Recheck</span></a>
      </li>
      <li ng-click="obj.TabClicked('confirmed')" ng-class="{ 'active': obj.tabname==='confirmed' }"><a
        href=""><span
        class="fa fa-exclamation text-primary"></span><span
        class="text-primary vcenter"> Confirmed</span></a>
      </li>
      <li ng-click="obj.TabClicked('rejected')" ng-class="{ 'active': obj.tabname==='rejected' }"><a
        href=""><span
        class="fa fa-exclamation text-primary"></span><span
        class="text-primary vcenter"> Rejected</span></a>
      </li>
    </ul>
    <div class="panel-body">
      <div class="row">
        <div class="col-md-12">

          <table st-table="obj.tempObj" st-safe-src="obj.origObj"
                 class="row-border hover table table-striped scrolling-table">
            <thead>
            <tr>
              <th colspan="5"><input st-search="" class="form-control" placeholder="Global Search ..."
                                     type="text"/></th>
            </tr>
            <tr>
              <th></th>
              <th>Form Id</th>
              <th>Applicant Name</th>
              <th>Applicant Address</th>
              <th>Agent Name</th>
              <th>Agent Address</th>
              <th>Previous License</th>
              <th>Firm Name</th>
              <th>Firm Address</th>
              <th>Lift Type</th>
              <th>Lift Speed</th>
              <th>Lift Capacity</th>
              <th>Lift Total Weight</th>
              <th>Max Passenger</th>
              <th>Weight Counter</th>
              <th>No of Weights</th>
              <th>Supporting Cable Desc.</th>
              <th>Supporting Cable Weight</th>
              <th>Supporting Cable Size</th>
              <th>Depth Pit</th>
              <th>Top Clearance</th>
              <th>Bottom Clearance</th>
              <th>Overhead Arrangement</th>
              <th>No. of stops</th>
              <th>Contact Person</th>
              <th>Contact Number</th>
            </tr>
            </thead>
            <tbody>
            <tr
              ng-repeat="objdetails in obj.tempObj | filter: obj.objFilter track by objdetails.id">

              <td>
                <button ng-click="obj.assignForm(objdetails.id)" type="button"
                        ng-show="objdetails.status == 'pending'"
                        class="btn btn-sm btn-success">
                  <em class="fa fa-arrow-circle-right"></em>
                </button>
                <button ng-click="obj.rejectForm(objdetails.id)" type="button"
                        ng-show="objdetails.status == 'pending'"
                        class="btn btn-sm btn-danger">
                  <em class="fa fa-close"></em>
                </button>
              </td>
              <td>{{objdetails.id}}</td>
              <td>{{objdetails.applicant_name}}</td>
              <td>{{objdetails.applicant_address}}</td>
              <td>{{objdetails.agent_name}}</td>
              <td>{{objdetails.agent_address}}</td>
              <td>{{objdetails.previous_license}}</td>
              <td>{{objdetails.firm_name}}</td>
              <td>{{objdetails.firm_address}}</td>
              <td>{{objdetails.lift_type}}</td>
              <td>{{objdetails.lift_speed_max}}</td>
              <td>{{objdetails.lift_capacity_weight}}</td>
              <td>{{objdetails.lift_total_weight}}</td>
              <td>{{objdetails.max_passengers}}</td>
              <td>{{objdetails.weight_counter}}</td>
              <td>{{objdetails.description_weight_num}}</td>
              <td>{{objdetails.supporting_cable_description}}</td>
              <td>{{objdetails.supporting_cable_weight}}</td>
              <td>{{objdetails.supporting_cable_size}}</td>
              <td>{{objdetails.depth_pit}}</td>
              <td>{{objdetails.top_clearance}}</td>
              <td>{{objdetails.bottom_clearance}}</td>
              <td>{{objdetails.overhead_arrangement}}</td>
              <td>{{objdetails.number_of_stops}}</td>
              <td>{{objdetails.contact_person_name}}</td>
              <td>{{objdetails.contact_person_number}}</td>
              <td>{{objdetails.drawings_path}}</td>
            </tr>
            </tbody>
            <tfoot>
            <tr>
              <td colspan="5" class="text-center">
                <div st-pagination="" st-items-by-page="10" st-displayed-pages="9999"></div>
              </td>
            </tr>
            </tfoot>
          </table>
          <div ng-show="obj.tabname == 'pending' && obj.isClicked == true">
            <select class="btn btn-default col-xs-3" ng-model="inspectorId">
              <option value="" disabled>Select Inspector</option>
              <option ng-repeat="inspector in obj.inspectors"
                      value="{{inspector.id}}">
                {{inspector.name}}
              </option>
            </select>
            <button type="button" ng-click="obj.assignTag(inspectorId)"
                    class="btn btn-sm btn-primary col-xs-offset-1">
              <em class="fa fa-tag "></em>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
